main {
    .titulo-formulario {
        font-family: 'Poppins', sans-serif;
        text-align: center;
        padding: 10px;
    }

    .formulario {
        font-family: 'Poppins', sans-serif;
        border: 2px dotted black;
        display: inline-block;
        padding: 10px;
        
    }

}