main {
    .churros {
        @extend %grid;

        div {
            border-radius: 5%;
            background-color: rgb(162, 148, 175);
            border: 2px dotted black;
            margin: 5px;
            text-align: center;

            h2 {
                @include fuente (700, 'Poppins' sans-serif, 25px);

            }

            img {
                width: 300px;
                height: 300px;
                object-fit: cover;

            }

            ul {
                li {
                    list-style: none;


                }

            }
        }
    }
}