footer{
    width: 100%;
    text-align: right;
    background-color: azure;
    padding: 30px;
    margin: 0px 10px;
    div{
        img{
            width: 50px;
            margin: 0px 10px;
            }     
        }
    }