main{
    .comida-rapida{ 
        @extend %grid;
        div{
            border: 2px dotted black;
            margin: 10px;
            text-align: center;
            border-radius: 15%;
            background-color: rgb(162, 148, 175);
            h2{
                @include fuente (700, 'Poppins' sans-serif, 25px);
                }
            img{
                width: 300px;
                height: 200px;
                object-fit: cover;
            }
            ul{
                li{
                    list-style: none;
                }
            }
        }
    }
}