main {
    .producto-main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 300px;
        gap: 10px;

        div {
            box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
            transition: 1sg;

            &:hover {
                transform: scale(1.1);

            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }
    }
}